/magit.hist
/#magit.hist#
/.cache
/.mc-lists.el
/auto-save-list/
/bm-repository
/config.el
elpa/*
/eshell/*
/projectile-bookmarks.eld
/quelpa/*
/recentf
/server/server
/speed-type/German.txt
/transient/*
/url/cookies
/secrets.el
/.lsp-session-v1
/.org-id-locations
/workspace/
/tramp
/persist/
/org-gcal/
/eln-cache/
/eclipse.jdt.ls/
/.org-generic-id-locations
