/magit.hist
/#magit.hist#
/.cache/treemacs-persist
/.cache/treemacs-persist-at-last-error
/.mc-lists.el
/auto-save-list/
/bm-repository
/config.el
elpa/*
/eshell/*
/projectile-bookmarks.eld
/quelpa/*
/recentf
/server/server
/speed-type/German.txt
/transient/*
/url/cookies
/secrets.el
